<app-container *ngIf="studyProgram">
  <!-- Study program -->
  <h1 class="text-2xl sm:text-3xl">{{ studyProgram.name }}</h1>
  <p>{{ studyProgram.description }}</p>
  <p>
    <span class="font-bold">Acronym</span>:
    {{ studyProgram.acronym }}
  </p>
  <p>
    <span class="font-bold">Направление</span>:
    <a
      routerLink
      [routerLink]="['/faculties', studyProgram.faculty.id]"
      class="text-blue-500 hover:text-blue-700"
    >
      {{ getFacultyDisplay(studyProgram.faculty) }}
    </a>
  </p>
  <p>
    <span class="font-bold">Координатор</span>:
    {{ getTeacherDisplay(studyProgram.manager) }}
  </p>
  <hr />

  <!-- Subjects -->
  <h2 class="text-xl sm:text-2xl">Дисциплины</h2>
  <mat-card
    *ngFor="let subject of subjects"
    (click)="viewSubject(subject)"
    class="mat-elevation-z8"
  >
    <mat-card-header>
      <mat-card-title class="text-blue-500 hover:text-blue-700">
        {{ subject.name }}
      </mat-card-title>
      <mat-card-subtitle> Модуль: {{ subject.semester }} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>{{ subject.syllabus }}</mat-card-content>
  </mat-card>
  <p *ngIf="!subjects">Дисциплины не найдены</p>
</app-container>
